*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    margin-top: 30px;
}
a{
    text-decoration: none;
}
.nav a{
    color: black;
    font-weight: bold;
}

.links {
   padding-left: 80%;
}
.links a{
    padding: 0 10px;
}
.about{
    padding: 50px 180px;
    margin-top: 85px;
}
.about-text{
    display: inline-block;
    width: 600px;
}
.about-image {
    padding-left: 50px;
    display: inline-block;
    margin-bottom: 90px;
    margin-left: 32px;
    border-radius: 50%;
    position: relative;
    left: 10px;
   
}
.about-image img{
    border-radius: 50%;
    box-shadow: -6px 10px #edf7fa;
}
.main-text{
    font-size: 40px;
    font-weight: bold;
}
.sub-text{
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 50px;
}
.btn {
    background: #ff6464;
    padding: 15px 25px;
    border: none;
    border-radius: 3px;
   
    color: white;
    font-weight: bold;
    width:250px;
    font-size: larger;
}
.posts{
    padding: 20px 180px;
    background: #edf7fa;
    height: 65vh;
}

.recent {
    color: #2d3048;
    font-weight: bold;
    display: inline-block;

    font-size: larger;
}
.view {
    display: inline-block;
    float: right;
    font-size: larger;
}
.view a{
    color: #21b3d2;
}

.card{
    margin-top: 20px;
    background: white;
    padding: 30px 10px;
    border-radius: 5px;
    font-size: 18px;
    width: 49%;;
}
.card1{
    display: inline-block;
}
.card2{
    float: right;
}
.card-header{
    font-size: 28px;
    font-weight: bold;
    line-height: 150%;;
}
.card-date {
    color: #3c3f55;
    margin-top: 20px;
}
.card-text{
    color: #2a2d45;
    padding-top: 20px;
    line-height: 150%;
}
.featured-works{
    padding: 20px 180px;
    padding-bottom: 10px;
}
.featured{
    color: #2d3048;
    font-weight: bold;
    font-size: larger;
}
.work-posts {
    padding-top: 20px;
    margin-bottom: 40px;
}
.work-image{
    width: 20%;
    float: left;
}
.about-work{
    margin-left: 30px;
    padding-left: 10px;
    display: inline-block;
    width: 70%;
    margin-left: 60px;
}
.work-text{
   margin-top:20px;
}
hr{
    background-color: #efefef;
    border: none;
    height: 2px;
    margin-top: -25px;
}
h3{
    color: #21243d;
}
.info {
    padding: 15px 5px;
    margin-top: 20px;
}
.year{
    background: #142850;
    width: 64px;
    color: white;
    padding: 2px 14px;
    border-radius: 16px;
    float: left;
    text-align: center;
}
.tag {
    padding-left: 7%;
    color: #95a2af;
    margin-left: 30px;
    margin-top: 2px;
}
.work-text{
    padding-top: 5px;
    font-size: 18px;
}
.works{
    padding: 20px 0;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}
.footer-links{
    width: 300px;
   display: inline-block;
}
.footer-links img{
    height: 30px;
    padding: 0px 20px;
}

.copyright{
    padding: 20px 0;
}